<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.Snake.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.OptionMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.Snake.OptionMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.Credit"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.Snake.Credit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.Tutorial"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.Snake.Tutorial" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.HighScores"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.Snake.HighScores" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.Grid"
			android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.Snake.Grid" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Snake.GameOver"
            android:label="@string/title_activity_game_over"
			android:noHistory="true"
            android:parentActivityName="com.example.Snake.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Snake.MainActivity" />
        </activity>
    </application>

</manifest>
